<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Menu</title>
		<style>
			* {
				margin: 0px;
				padding: 0px;
			}

			.menu-wrapper {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;

				grid-auto-rows: minmax(50px, auto);
				margin: 0px 5em;
				border: 1px solid goldenrod;
			}
			.container {
				border: 1px solid;

				text-align: center;
			}
		</style>
	</head>

	<body>
		<div class="menu-wrapper">
			<div class="container">
				<h2>Image</h2>
			</div>
			<div class="container">
				<h2>Food Name</h2>
			</div>
			<div class="container">
				<h2>Price</h2>
			</div>
			<div class="container">
				<h2>Select</h2>
			</div>
			<div class="container"></div>
			<div class="container"></div>
			<div class="container"></div>
			<div class="container"></div>
		</div>
	</body>
</html>
