<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
    </head>
    <style>
    .card-wrap{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap:1em ;
    }
    </style>
	<body>
		<div class="card-wrap">
			<div class="card">
				<img src="" alt="" />
				<div class="info">
					<H4>Food name</H4>
					<h4>Food Price</h4>
				</div>
			</div>
		</div>
	</body>
</html>
